.servico {
    margin-top: 50px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.tituloServico h1 {
    color: #5b3971;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.tipoServico {
    background-color: aqua;
    display: flex;
    width: 40vw;
    height: auto;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.conteudoImagem img {
    display: flex;
    height: 25vh;
    width: 13vw;
    border: 10px;
    border: #B2B2B2 20px solid;
    border-radius: 25px;
    margin-left: 20px;
}

/* .textoServico{
    background-color: violet;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 100px;
    justify-items: right;    

} */

.textoServico h2 {
    background-color: yellow;
    color: #130901;
    font-size: 30px;
    font-weight: bold;
    /* margin-top: 50px; */
    /* text-align: right; */
    /* margin-bottom: 50px;    */
}