.cadastro{
  margin-top: 3em;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9em;
}

.titulo{
  color: #5b3971;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.conteudo{
  margin-top: 1em;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  border: 5px solid #5b3971;
  border-radius: 15px;
}

.controle-form{
  color: #5b3971;
  margin-bottom: 0.5em;
  padding-bottom: 1.5em;
  position: relative;
  text-align: center;
} 

.controle-form label{
  display: inline-block;
  margin-bottom: 5px;
  color: #5b3971;
}

.controle-form input{
  font-size: 16;
  width: 98%;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #5b3971;
}

.item{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item input{
  width: 98%;
}

.linha{
  display: flex;
  justify-content: space-around;
}


.botao{
  width: 40vw;
  display: inline-flex;
  justify-content: center;
  margin-left: 20%;
  margin-top: 2%;
}

.botao button{
  background-color: #5b3971;
  color: #f2d022;
  font-weight: bold;
  font-size: 16px;
  width: 25%;
  padding: 10px;
  border-radius: 15px;
  border: none;
}